<img src="{{flags.png}}" alt="{{name.common}}"> <p>{{name.common}}</p>
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    <p>Languages: {{Object.values(languages).join(', ')}}</p>